@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --green: #27ae60;
    --dark-color: #219150;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.15ms;
}

.box{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}

section{
    padding: 5rem 9%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background: var(--dark-color);
}

.header .header-1{
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--black);
}

.header .header-1 .logo i{
    color: var(--green);
}

.header .header-1 .search-form{
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color: var(--green);
}

#search-btn{
    display: none;
}

.header .header-2{
    background: var(--green);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background: var(--dark-color);
}

.header .header-2.active{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    /**/
}

.bottom-navbar{
    text-align: center;
    background: var(--green);
    position: fixed;
    bottom: 0; left: 0; right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbar a:hover{
    background: var(--dark-color);
}

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.9);
    position: fixed;
    top: 0; right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-form-container.active{
    right: 0;
}

.login-form-container form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}

.login-form-container form .checkbox{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color: var(--green);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top: 1.5rem; right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color:  var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: .5rem;
}

.footer .box-container .box .map{
    width: 100%;
}

.footer .share{
    padding: 1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    background: var(--green);
    margin: 0 .3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background: var(--black);
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
}

.footer .credit span{
    color: var(--green);
}

.loader-container{
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active{
    display: none;
}

.loader-container img{
    width: 50%; height: 50%;
}

/************categories-style************/
/*categories-body-starts*/
.bookCategories-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0;
    gap: 25px;
}
/*categories-left-starts*/
.bookCategories-left{
    width: 280px;
    height: max-content;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.bookCategories-left-top{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
}
.bookCategories-left-top p{
    padding: 0;
    margin: 0;
}
.bookCategories-left-bottom{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.bookCategories-left-bottom button{
    width: 280px;
    height: auto;
    font-size: 16px;
    text-align: left;
    padding: 10px;
    cursor: pointer;
}

.bookCategories-left-bottom .activeCategoryButtonElement{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
/*categories-left-ends*/

/*categories-right-starts*/

/*categories-page starts*/
.bookCategories-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 20px;
}
.bookCategories-right-top{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.bookCategories-right-top p{
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
    margin: 0;
}
.bookCategories-right-bottom{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.bookCategories-right-bottom .bookCategories-book-container{
    display: grid;
    grid-template-columns: 222px 222px 222px 222px 222px;
    row-gap: 10px;
    column-gap: 10px;
}
.bookCategories-right-bottom .bookCategories-page-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.bookCategories-right-bottom .bookCategories-page-nav button{
    width: 40px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
}
/*categories-page ends*/

/*product in categories-page starts*/
.bookCategories-book{
    width: 200px;
    height: auto;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 4px;
    transition: all 0.25s ease-in-out;
}
.bookCategories-book:hover{
    border-style: solid;
    border-width: 1px;
    border-color: #219150;
}
.bookCategories-book-top img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.bookCategories-book-bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bookCategories-book-bottom p{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 22px;
}
.bookCategories-bookTitle{
    width: 200px; /* Set your desired width */
    height: 40px;
    overflow: hidden;
}
.bookCategories-bookPrice{
    color: darkred;
    font-weight: 600;
}
.bookCategories-book-bottom i{
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: goldenrod;
}
.bookCategories-book-bottom .buttonToDetails{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    background-color: #219150;
    color: #fff;
    cursor: pointer;
    border-style: none;
    border-radius: 4px;
    transition: all 0.15s ease-in-out;
}
.bookCategories-book-bottom button:active{
    background-color: #1c7e44;
}
/*product in categories-page ends*/

/*dropdown-menu-starts*/
.dropdown{
    width: 220px;
    font-size: 15px;
    position: relative;
}
.dropdown * {
    box-sizing: border-box;
}
.select{
    background: #ffffff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px #219150 solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}
.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    transition: 0.3s;
}
.caret-rotate{
    transform: rotate(180deg)
}
.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #fff;
    border: 1px #219150 solid;
    border-radius: 0.5em;
    color: #000;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}
.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}
.menu li:hover{
    background: lightgray;
}
.active{
    background: lightgray;
}
.menu-open{
    display: block;
    opacity: 1;
}
/*dropdown-menu-ends*/

/*categories-right-ends*/

/*categories-body-ends*/














/* media queries */

@media (max-width: 991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding: 2rem;
    }

    section{
        padding: 3rem 2rem;
    }

}

@media (max-width: 768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display: none;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position: absolute;
        top: -115%; right: 2.5rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top: 115%;
    }

}

@media (max-width: 450px){

    html{
        font-size: 50%;
    }

}
